body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px;
  font-family: 'Dongle', sans-serif;
  background-color: #c6c3c1;
}

.title {
  font-family: 'Dongle', sans-serif;
  font-size: 50px;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

/* MOVIE TILE */

.movie {
  width: 275px;
  display: flex;
  margin: 10px;
  padding: 15px;
  background-color: #e2e2e2;
  flex-direction: column;
  border-radius: 5px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie:hover {
  box-shadow: 8px 8px 15px 1px #8d8d8d;
}

.movie img {
  width: 100%;
  align-self: center;
}

/* .movie button {
  margin-top: 10px;
} */

.movie-img-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.movie-title {
  text-align: center;
  margin: 0px;
  font-size: 40px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%
}

.movie-butt {
  cursor: pointer;
}

/* SEARCH RESULT TILE */

.search-result-container {
  display: flex;
  flex-wrap: wrap;
}

.search-movie {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 12px;
  background-color: #e2e2e2;
}

.search-movie img {
  max-width: 250px;
  align-self: center;
  margin-bottom: 8px;
}

.search-movie:hover {
  box-shadow: 8px 8px 15px 1px #8d8d8d
}

.search-title {
  text-align: center;
  font-size: 25px;
  margin: 0px
}

/* BUTTON STYLES */

.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
}

.search-button {
  border: 2px solid #008CBA;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #008CBA;
  color: white;
}

.reverse-button, .sort-button {
  border: 2px solid #008CBA;
  margin-left: 8px;
}

.reverse-button:hover, .sort-button:hover {
  background-color: #008CBA;
  color: white;
}

.home-button {
  border: 2px solid #008CBA;
}

.home-button:hover {
  background-color: #008CBA;
  color: white;
}

.delete-button {
  border: 2px solid red
}

.delete-button:hover {
  background-color: red;
  color: white;
}

.info-button {
  border: 2px solid #008CBA;
  margin-top: 10px;
}

.info-button:hover {
  background-color: #008CBA;
  color: white;
}

.green-button {
  border: 2px solid #3b853f;
  width: 100%;
}

.green-button:hover {
  background-color: #3b853f;
  color: white;
}

/* FORM TINGZ */

.form-container {
  margin-left: 10px;
}

.form-label {
  font-size: 40px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 8px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* MODAL */

.modal-container {
  box-shadow: 8px 8px 15px 1px #8d8d8d;
  position: absolute;
  inset: 150px;
  border: 1px solid rgb(204, 204, 204);
  background-color: #e2e2e2;
  overflow: auto;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  width: 50%;
  left: 25%
}

.modal-contents {
  display: flex;
  max-height: 100%;
}

.modal-image-container {
  max-width: 45%;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.modal-form-container {
  padding-left: 15px;
  border-left: 2px solid #c6c3c1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.modal-form-container h2{
  font-size: 35px;
  margin: 0px;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 35px;
  text-align: center;
}

.form-checkbox {
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}

.checkmark {
  height: 30px;
  width: 30px
}

/* LOADING */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:999;
}

.loading-container:hover {
  background-color: rgba(0,0,0,0.85);
  transition: 0.35s ease;
}

.loading-gif {
  height: 85vh;
}