body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px;
  font-family: 'Dongle', sans-serif;

}

html {
  background-color: #c6c3c1;
}

.title {
  font-family: 'Dongle', sans-serif;
  font-size: 50px;
  margin: 0px;
  padding: 15px;
}

.movie-title {
  text-align: center;
  margin: 0px;
  font-size: 40px
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  margin: 10px;
  padding: 15px;
  background-color: #e2e2e2;
  flex-direction: column;
}

.movie:hover {
    box-shadow: 8px 8px 15px 1px #8d8d8d;
}

.movie img {
  max-width: 250px;
  align-self: center;
}

.movie button {
  margin-top: 10px;
}