body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  background-color: #c6c3c1;
}

.title {
  font-family: 'Tilt Prism', cursive;
  font-size: 50px
}

.movie-title {
  text-align: center;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  margin: 10px;
  padding: 15px;
  background-color: #e2e2e2;
}

.movie:hover {
    box-shadow: 8px 8px 15px 1px #8d8d8d;
}

.movie img {
  max-width: 250px;
}